@charset "UTF-8";
.a-upload {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.a-upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.a-upload:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.a-upload-b input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.a-upload-b:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.must{
	line-height: 30px;
	color: red;
}
.top_tab{
	height:31px;
	line-height:normal;
}
.search-form .filter{
	float: left; 
	position: relative; 
	height: 28px;
}
.search-form>a{
	margin-top: 2px;
	height: 26px;
	line-height: 14px;
	!important
}
.search-form>button{
	margin-top: 2px;
	height: 26px;
	line-height: 12px;
	!important
}
.search-form .filter>span{
	float: left; 
	line-height: 28px; 
	font-size: 12px; 
	font-weight: bold; 
	color: #888; 
	margin-left: 10px; 
	margin-right: 3px;
}
.sinput{
	float: left;
	padding: 1px 0px;
}
.sinput>input{
	padding-left: 5px; 
	/* width: 110px; */ 
	height: 28px; 
	font-weight: bold; 
	font-size: 12px;
}
.hline{
	float: left; 
	position: relative; 
	top: 4px; 
	width: 1px; 
	height: 23px; 
	background: #ccc; 
	margin-left: 5px; 
	margin-right: 5px;
}
.excelupload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.selectCss{
	height: 30px;
}
.inputCss{
	height: 30px;
	width: 80px;
}
.load-waiting{
	position: absolute;
	left:0px;
	right: 0px;
	top:150px; 
	bottom: 0px;
	margin:auto;
	text-align: center;
	vertical-align:middle;
	z-index:10;
	font-size:30px;
	font-weight:bold;
	color:#428BCF;
	
}