html,
body {
  background-color: #fff;
}
body {
  padding: 0;
  margin: 0;
  color: #464c5b;
  font-size: 14px;
  line-height: 1.4;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol", "Microsoft YaHei";*/
  /*font-family: Roboto, Segoe UI, "Microsoft YaHei", Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;*/
}
div {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #0366d6;
}
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace, "Microsoft YaHei";
}
code {
  color: #d03bc8;
  padding: 0.1em 0.4em;
  margin: 0;
  background-color: rgba(111, 66, 193, 0.07);
  border-radius: 3px;
}
/* ::selection{
  background: #CBD1DE;
} */
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.text-center {
  text-align: center;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 14px;
}
small {
  font-size: 14px;
}
em,
i {
  font-style: normal;
}
ul,
ol,
dl {
  list-style: none;
}
ul,
li {
  list-style-type: none;
  list-style-image: none;
}
a {
  text-decoration: none;
  border: none;
}
img {
  border: none;
  vertical-align: top;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  font-size: 12px;
  outline: none;
}
textarea {
  resize: none;
  overflow: auto;
}
body {
  font-size: 14px;
  font-family: "微软雅黑";
  background-color: #ffffff;
  min-width: 1250px;
}

.priview-box {
  margin-bottom: 50px;
}
.priview-box .description {
  color: #62676c;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #ffa000;
}

/* .el-pagination.is-background .el-pager li:hover{
  color: #ffa000!important;
} */
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #ffa000;
  border: 1px solid #ffa000;
}
.el-tabs__item:hover,
.el-tabs__item.is-active {
  color: #ffa000;
}
.page-body {
  /* padding: 15px; */
  padding: 25px 25px 0 25px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.page-body .page-header {
  background: #fff;
  padding: 15px;
  margin: -15px -15px 15px -15px;
}
.page-body .page-header .page-title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 15px;
  color: #585a5f;
}

.page-body h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 20px 0;
}
.page-body h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.box {
  background: #fff;
  border-radius: 3px;
  padding: 15px;
}
.box .box-header:before,
.box .box-header:after,
.box .box-footer:before,
.box .box-footer:after {
  content: "";
  display: table;
  clear: both;
}
.box .box-header {
  padding-bottom: 15px;
}
.box .box-footer {
  padding: 15px 0;
}
.box .box-header .box-title {
  font-size: 18px;
  font-weight: 100;
  margin: 0;
}

.progress-bg {
  margin: 0 auto;
  width: 60%;
  height: 4px;
  background: rgba(245, 245, 245, 0.2);
  overflow: hidden;
}
.progress-bg .progress {
  width: 50%;
  height: 4px;
  margin-left: -50%;
  background: #19a05e;
  float: left;
  animation: progress 1s linear infinite;
}
.el-table .el-table__header thead th {
  background: rgb(233, 233, 233);
  background: #f5f7fa;
}

@keyframes progress {
  0% {
    margin-left: -50%;
  }
  100% {
    margin-left: 100%;
  }
}
.delDialog {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(65, 64, 64, 0.24);
  z-index: 200;
  top: 0px;
  left: 0px;
}
.delDialog_box .container_box {
  width: 449px;
  height: 264px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  border-radius: 10px;
  border: 3px solid #ccd4da;
  z-index: 201;
  text-align: center;
}
.delDialog_box .container_box .title_box {
  width: 100%;
  height: 45px;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #f3f3f3;
  text-align: center;
  line-height: 45px;
}

.delDialog_box .container_box .title_box h4 {
  font-size: 18px;
  float: left;
  color: #323232;
}
.delDialog_box .container_box .title_box span {
  font-size: 26px;
  float: right;
  color: #b3b3b3;
}
.delDialog_box .container_box .title_box span i {
  cursor: pointer;
}
.delDialog_box .container_box .container {
  width: 100%;
  margin-top: 15px;
  height: 70px;
  padding-top: 25px;
  font-size: 16px;
  text-align: center;
}
/* 表格头部 */
.toolsTitleBox {
  height: 50px;
  line-height: 50px;
  background: #f5f7fa;
  color: #606266;
  font-size: 15px;
  border: 1px solid #ebeef5;
  padding: 0 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolsTitle {
}

/* 表格中的状态 */
.default,
.error,
.success  {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    position: relative;
    top: 1px;
    right: 5px;
}
.default  {
    background: #b6b6b6;
    border: 2px solid #cfcfcf;
}
.error  {
    background: #fd4041;
    border: 2px solid #ff6c6f;
}
.success  {
    background: #92b62d;
    border: 2px solid #bfd482;
}
.dialogBtn_box {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.titleHover:hover {
  transition: 0.3s;
  color: #4772d5;
}
.flexibleSwitch {
  color: #4472d5;
  cursor: pointer;
}
.container1 {
  color: #323232;
  width: 100%;
  margin-top: 15px;
  height: 70px;
  padding-top: 25px;
  font-size: 13px;
  text-align: center;
  /* overflow: hidden; */
  display: block;
}
.primary {
  width: 88px;
  height: 34px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  margin-left: 30px;
  background-color: #ffa000;
  color:#fff;
}

.monad {
  display: block;
  width: 48px;
  position: absolute;
  top: 7px;
  left: 5px;
}


.headerpop {
  width: 100%;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}
.primary:active {
  transform: translateY(1px);
}